h1 {
    background-color: rgb(120, 152, 210);
    color: white;
    padding: 5px;
    margin: 0;
  }
  .container {
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  img {
    border-radius: 10px;
    border: 0;
    width: 100px;
    margin: 3px;
    /*height: 50px;*/
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
  }
  button {
    color: white;
    background: rgb(120, 152, 210);;
    border: none;
    border-radius: 3px;
    padding: 8px 16px 8px 16px;
    transition: 0.7s;
    margin: 3px;
  }
  button:hover {
    background: blue;
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
  }
  
  footer {
    background-color: black;
    color: white;
  }
  @media (max-width: 300px) {
    img {
      width: 100%;
      margin-bottom: 8px;
    }
    button {
      width: 50%;
    }
  }
  